.overlay__general {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.9);
  display: none;
}

.overlay__general.active{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.body {
  background-color: #000;
}

.animacion_1 {
  height: 350px;
}

.animacion_2 {
  display: none;
  height: 350px;
}

.animacion_3 {
  display: none;
  height: 350px;
}

.animacion_4 {
  display: none;
  height: 350px;
}

@media screen and (max-width: 479px) {
  .overlay__general {
    padding: 15px;
  }
}