  	.item-faq-bnficios-heading{
  		cursor: pointer;
  	}

    .chat {
        list-style: none;
        background: 0 0;
        padding: 0 0 50px;
        margin: 0 0 10px
    }

        .chat li {
            padding: 8px;
            padding: .5rem;
            font-size: 14.4px;
            font-size: .9rem;
            overflow: hidden;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex
        }

    .visitor {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        -ms-grid-row-align: flex-end;
        align-items: flex-end
    }

        .visitor .msg {
            -webkit-box-ordinal-group: 2;
            -webkit-order: 1;
            -ms-flex-order: 1;
            order: 1;
            border-bottom-right-radius: 0;
            box-shadow: 1px 2px 0 #d4d4d4
        }

    .admin .msg {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
        border-top-left-radius: 0;
        box-shadow: -1px 2px 0 #d4d4d4
    }

    .msg {
        word-wrap: break-word;
        background: #fff;
        min-width: 50px;
        max-width: 80%;
        padding: 10px;
        border-radius: 2px;
        box-shadow: 0 2px 0 rgba(0,0,0,.07)
    }

        .msg p {
            margin: 0 0 3.2px;
            margin: 0 0 .2rem
        }

        .msg .time {
            font-size: 11.2px;
            font-size: .7rem;
            color: #ccc;
            margin-top: 3px;
            float: right;
            cursor: default;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none
        }

    ::-webkit-scrollbar {
        min-width: 12px;
        width: 12px;
        max-width: 12px;
        min-height: 12px;
        height: 12px;
        max-height: 12px;
        background: #e5e5e5;
        box-shadow: inset 0 -14px 0 #e5e5e5,inset 0 -46px 0 #fafafa
    }

    ::-webkit-scrollbar-thumb {
        background: #bbb;
        border-radius: 100px;
        border: solid 3px #e5e5e5;
        box-shadow: inset 0 0 3px #999
    }

        ::-webkit-scrollbar-thumb:hover {
            background: #b0b0b0;
            box-shadow: inset 0 0 3px #888
        }

        ::-webkit-scrollbar-thumb:active {
            background: #aaa;
            box-shadow: inset 0 0 3px #7f7f7f
        }

    ::-webkit-scrollbar-button {
        display: block;
        height: 24px
    }

    input.textarea {
        position: fixed;
        bottom: 14px;
        left: 0;
        right: 0;
        width: 95%;
        height: 30px;
        z-index: 99;
        background: #fafafa;
        border: none;
        outline: none;
        padding-left: 15px;
        padding-right: 15px;
        color: #666;
        font-weight: 400
    }

    a.banner {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 12px;
        z-index: 99;
        border-top: 2px solid #e5e5e5;
        background: #e5e5e5;
        outline: none;
        color: #777;
        font-size: 10px;
        text-align: right;
        font-weight: 200;
        text-decoration: none
    }

    /*+++++++++++++++++++++++++++*/
    .MainBoxchat_Closed {
        position: fixed;
        bottom: 0px;
        right: 10px;
        z-index: 2147483647;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background: #0067ab;
        box-sizing: content-box;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
        overflow: hidden;
    }

    .MainBoxchat_Open {
        position: fixed;
        bottom: 0px;
        right: 10px;
        z-index: 2147483647;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background: #0067ab;
        box-sizing: content-box;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
        overflow: hidden;
        width: 370px;
    }

    .MainBoxContent_Closed {
        display: none;
        height: 171px;
    }

    .MainBoxContent_Open {
        display: block;
        height: 350px;
    }

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
        margin: 0 auto;
        padding: 35px;
    }

    .hideclass {
        display: none;
    }


    .showclass {
        display: block;
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .mainroot {
        max-width: 600px;
        margin: 5em auto;
        padding: 50px;
        background-color: #fff;
        border-radius: 1em;
    }

    #restart {
        background: rgb(235 31 90);
        height: 40px;
        font-size: 20px;
        font-family: Lato, sans-serif;
        color: rgb(255, 255, 255);
    }

    #webchat {
        width: 100%;
        height: 100%;
    }

    .oneImgNew{
    height: 25px;
    position: relative;
    top: -2px;
    right: 10px;
    }